.logo {
    display: block;
    margin-right: 10px;
    margin-top: 6px;
}
/*Panels*/
.panel-flexible .panel-separator {
    margin: 0;
}
.panels-flexible-row {
    padding-bottom: 0 !important;
}
.panels-flexible-region-first.panels-flexible-region-last {
    width: 100%;
}
.panels-flexible-row.white-wrapper {
    padding: 80px 0 !important;
}
.panels-flexible-row.white-wrapper.nopadding {
    padding-bottom: 0 !important;
}
.panels-flexible-row.white-wrapper.neverpadding {
    padding: 0 !important;
}
.panels-flexible-region.panels-flexible-region-first {
    padding: 0 15px;
}
.panels-flexible-row.white-wrapper.neverpadding .panels-flexible-region.panels-flexible-region-first {
    padding: 0;
}
.panels-flexible-region.panels-flexible-region-last {
    padding: 0 15px;
}
.panels-flexible-region.panels-flexible-region-first.panels-flexible-region-last {
    padding: 0;
}

/*Breadcrumbs*/
div.bread-crumbs {
    color: #a6a7a8;
    font-size: 11px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-transform: uppercase;
}
div.bread-crumbs a {
    color: #a6a7a8;
}
div.bread-crumbs a:hover,
div.bread-crumbs a:focus {
    color: #fff;
}

/*Services*/
.view-header .service-widget {
    padding-bottom: 0 !important;
}
.view-content .service-widget {
    padding-top: 0 !important;
}
.service-box-node .icon-container {
    color: #434b55;
    display: block;
    font-size: 34px;
}
.service-box-node .icon-container:hover {
    color: #cb875f;
}

/*Blogs*/
.view-display-id-block_fullwidth .pagination {
    display: block;
    padding-left: 15px;
    margin: 0 auto;
}
.post-meta .author {
    color: #9f9f9f;
    font-size: 12px;
    line-height: 18px;
}
.post-meta .author span {
    display: block;
    overflow: hidden;
    margin: 0;
}
.pagination {
    width: 100%;
}
.pager li {
    display: none;
}
.pager li a:hover {
    border-color: #cb875f;
}
.pager li.next,
.pager li.prev {
    display: block;
    text-transform: uppercase;
}
.pager li.next a,
.pager li.prev a {
    padding: 11px 30px;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 2px;
}
.pager li.next {
    float: right;
}
.pager li.prev {
    float: left;
}
.blog-wrapper.blog-item {
    border-bottom: 1px solid #f2f2f2;
}
.blog-list {
    margin-bottom: 50px;
}
.blog-list img {
    min-width: 100%;
}

/*Comment*/
#comments .indented {
    margin-left: 90px;
}
#comments .media-heading {
    margin-bottom: 0;
}
#comments .media-heading .links {
    float: right;
    list-style: outside none none;
    padding: 0;
}
#comments .media-heading .links li {
    line-height: 16.5px;
}
#comments .submitted {
    margin-bottom: 10px;
}
.comment-form {
    margin-top: 30px;
}
#comment-form .form-submit {
    margin-right: 10px;
}

/*Search form*/
#sidebar .search_form {
    margin-bottom: 30px;
}
#sidebar .search_form .form-submit,
.right-sidebar .search_form .form-submit {
    display: none;
}

/*Subscribe form*/
#sidebar .block-newsletter h2,
.right-sidebar .pane-newsletter-newsletter-subscribe h2 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}
#sidebar .block-newsletter .btn,
.right-sidebar .pane-newsletter-newsletter-subscribe .btn {
    font-size: 13px;
    height: auto;
    margin: 0 10px 6px 0;
    padding: 8px 13px;
    background: none;
    color: #9f9f9f;
    text-transform: uppercase;
    border: 1px solid rgb(64, 67, 71);
    margin-top: 10px;
    letter-spacing: 0.2em;
}
#sidebar .block-newsletter .btn:hover,
.right-sidebar .pane-newsletter-newsletter-subscribe .btn:hover {
    border-color: #cb875f;
}
div.error {
    background-image: none;
}

/*Portfolio*/
.masonry_wrapper .box {
    padding: 20px !important;
}
.portfolio-item img.horizontal {
    display: none;
}
.portfolio-item.item-w2 img.square {
    display: none;
}
.portfolio-item.item-w2 img.horizontal {
    display: block;
}
#boxed-portfolio .item {
    max-width: 100%;
}

/*Account*/
#edit-field-newsletter-list {
    margin-bottom: 20px;
}
.block-tabs + .region-content {
    padding-top: 25px;
}
.view-commerce-user-orders table {
    width: 100%;
}

/*Admin*/
#overlay-container,
.overlay-modal-background,
.overlay-element {
    z-index: 1200;
}
.overlay-modal-background {
    z-index: 1;
}
.nav-tabs {
    background-color: #fff;
}

/*Contact*/
.service-widget {
    padding: 30px !important;
}
.service-widget #webform-component-your-name,
.service-widget #webform-component-your-email {
    width: 48%;
    float: left;
}
.service-widget #webform-component-website,
.service-widget #webform-component-purpose-of-viste {
    width: 48%;
    float: right;
}

/*Wishlist*/
.wishlist-block ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*Product*/
.shop-tab .nav-tabs {
    border: none;
}
.white-wrapper.product-item:last-child {
    padding-bottom: 90px;
}

/*Search*/
#search-form .form-submit {
    margin-top: 15px;
}
.search-result {
    margin-bottom: 40px !important;
}
.search-results {
    margin-top: 40px;
}
.search-results .title {
    text-align: left;
    margin: 15px 0;
}

/*Maintainance*/
.maintainance .footer-menu {
    display: none;
}
.maintainance .message-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

/*Cart*/
#views-form-commerce-cart-form-default table {
    width: 100%;
    border-bottom: 1px solid #ddd;
}
#views-form-commerce-cart-form-default .form-control {
    width: auto;
}
#views-form-commerce-cart-form-default .form-text {
    text-align: center;
}
#views-form-commerce-cart-form-default thead th:last-child,
#views-form-commerce-cart-form-default tbody td:last-child {
    text-align: right;
}
#views-form-commerce-cart-form-default tbody td:first-child,
#commerce-checkout-form-checkout tbody td:first-child,
#commerce-checkout-form-review table table tbody td:first-child {
    font-family: Athelas;
    color: #999;
    font-size: 15px;
    font-style: italic;
}
.line-item-summary {
    padding-top: 12px;
}

/*Checkout*/
#commerce-checkout-form-checkout table {
    width: 100%;
}
#commerce-checkout-form-checkout #edit-cart-contents,
#commerce-checkout-form-checkout #edit-account {
    margin-bottom: 45px;
}
#commerce-checkout-form-checkout #edit-buttons .button-operator,
#commerce-checkout-form-review #edit-buttons .button-operator {
    margin: 0 10px;
}
#commerce-checkout-form-checkout #edit-buttons {
    margin-top: 25px;
}
#payment-details .form-type-textfield input,
#payment-details .form-type-select select {
    width: auto;
}
.commerce-credit-card-expiration {
    margin-top: 10px;
}
.commerce-credit-card-expiration .form-type-select select {
    display: inline-block;
}
#payment-details .form-type-textfield input {
    display: inline-block;
}
.commerce-order-commerce-order table {
    width: 100%;
}
.commerce-order-commerce-order .field-item:last-child {
    margin-top: 25px;
}

/*Review*/
#commerce-checkout-form-review table {
    width: 100%;
}
#commerce-checkout-form-review table tr:hover {
    background-color: #fff;
}
#commerce-checkout-form-review table tbody td {
    border: none;
}
#commerce-checkout-form-review table table tbody tr:hover {
    background-color: #f5f5f5;
}
#commerce-checkout-form-review table table tbody td {
    border-top: 1px solid #ddd;
}
#commerce-checkout-form-review #edit-checkout-review {
    margin-bottom: 45px;
}

/*Header*/
.menu-wrapper.affix-bottom {
    top: 0 !important;
    position: fixed;
    padding: 8px 0;
    z-index: 9999;
}

/*All*/
.homepage-only {
    display: none;
}
.homepage .homepage-only {
    display: block;
}
.form-submit {
    margin-top: 10px;
}
legend {
    border: none;
}
.sexy-bg .white-wrapper {
    background: none;
}
.p_bottom_90 {
    padding-bottom: 90px;
}
.button-wrapper {
    margin-top: 10px;
}
.homepage .button-wrapper,
.view-art-portfolio .button-wrapper {
    margin-top: 30px;
}
div.messages {
    padding: 15px 20px;
}
div.status {
    background-image: none;
    border-color: #e9e9e9;
}
div.status, .ok {
    color: #494c50;
}
div.status, table tr.ok {
    background-color: #f9f9f9;
}
.icon-heart.is-in-wishlist {
    color: #cb875f;
}
.right-sidebar li a {
    color: #9f9f9f;
}
.tab-content #profile .section-title h3 {
    display: none;
}
.tab-content #profile .comment-form .section-title h3 {
    display: block;
}
.m-bottom-0 {
    margin-bottom: 0 !important;
}
thead th {
    padding: 8px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
tbody td {
    padding: 12px 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
tbody tr:hover {
    background-color: #f5f5f5;
}
.form-text,
.form-select {
    width: 100%;
    border: 1px solid rgb(64, 67, 71);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    color: #555;
    display: block;
    height: 34px;
    line-height: 1.42857;
}
.form-text:focus,
.form-select:focus {
    border-color: #cb875f;
    box-shadow: none;
}
.nav > li {
    display: inline;
}
.related .masonry_wrapper.row {
    margin-left: -20px;
    margin-right: -20px;
}
.tooltip-inner {
    white-space: nowrap;
}
.media-heading {
    font-weight: 500;
}
.node-webform .submitted {
    display: none;
}
.panels-flexible-4 .panels-flexible-region-inside-first {
    padding-right: 0;
}

@media screen and (max-width: 768px) {
    .related .masonry_wrapper.row {
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media screen and (max-width: 480px) {
    /*All*/
    thead th {
        font-size: 10px;
        padding: 2px;
    }
    tbody td {
        padding: 12px 2px;
    }

    /*Blogs*/
    #comments .indented {
        margin-left: 25px;
    }

    /*Contact*/
    .service-widget #webform-component-your-name,
    .service-widget #webform-component-your-email,
    .service-widget #webform-component-website,
    .service-widget #webform-component-purpose-of-viste {
        width: 100%;
        float: none;
    }
}
@media (min-width: 768px) {
    /*Blogs*/
    .view-display-id-block_fullwidth .pagination.container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    /*Blogs*/
    .view-display-id-block_fullwidth .pagination.container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    /*Blogs*/
    .view-display-id-block_fullwidth .pagination.container {
        width: 1170px;
    }
}